# Google Apps Script Web App URL (Follow GOOGLE_SHEETS_SETUP_GUIDE.md to obtain)
NEXT_PUBLIC_GOOGLE_SHEET_API_URL=

# Admin Dashboard Password (Default is Wed2026!)
NEXT_PUBLIC_ADMIN_PASSWORD=Wed2026!
